.botones_subjects button{
	width: 100%;
	height: 9rem;
	font-family: florida-font;
	background-color: white;
	color: var(--primario);
	border: 0px;
	/* border-radius: 4rem; pendiente de decision */
}

@media (max-width: 768px) {
	.botones_subjects button{
		width: 100%;
		height: 9rem;
		font-family: florida-font;
		background-color: white;
		color: var(--primario);
		border: 0px;
		border-radius: 4rem;
	}
	.botones_subjects{

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.botones_subjects button:hover{
	background-color: #E22636;
	transition: 1s;
	color: white;
}

.botones_subjects{

	display: flex;
	align-items: center;
	justify-content: center;
}
body{
	background-color: var(--azul);
}

.title_subjects{
	text-align: center;
	color: var(--blanco);
}


#contenedor_subjects{
	background-color: yellow;
}

@media (min-width: 768px) {
	#fondo_azul_por_footer{
		height:70rem;
		width:100%;
		color: var(--blanco);
		margin-top: 30rem;
	}
}

@media (max-width: 768px) {
	#fondo_azul_por_footer{
		height:30rem;
		width:100%;
		color: var(--blanco);
		margin-top: 10rem;
	}
}

#fondo_azul_por_footer{
	text-align: center;
}