#contenedor_grid{
    background-color: yellow;
    margin-top: 50px;

}

.box{
    border: 4px solid black;
    background-color: lightgray;
    text-align:center;
    height: 190px;


}
@media (min-width: 768px) {
    .grid{
        height: 100%;
        width:80%;
        background-color: lightgreen;
        display: grid;
        justify-content: stretch;
        grid-template-rows: auto auto auto auto auto  ;
        grid-template-columns:  50% auto ;
        margin: 0 auto;
    }
}


@media (max-width: 768px) {
    .grid{
        display:flex;
        flex-direction: column;
    }
}

/* ahora viene algo tedioso, intentaremos re adaptar el grid a resoluciones menores: */

.div_icono_grid{
    float: left;
    background-color: white;
    width: 50%;
    height: 100%;
    
}

.centrado_icono{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.icono_grid{
    height: 90%;
    width: 100%;
    
}



.texto_grid{
    background-color: white;
}
/* esto es para resoluciones pequeñas */
@media (max-width: 700px) {
    .div_icono_grid{
        height: 0%;
        width: 0%;
    }
    .texto_grid{
        width: 100%;
        height: 100%;
        background-color: orange;
        
    }
    .titulo_grid{
        float: left;
        height: 25%;
        width: 100%;
        background-color: green;
        color: yellow;
    }
    .cuerpo_grid{
        background-color: royalblue;
        width: 100%;
        height: 100%;
        font-size: 100%;
    }

}

@media (min-width: 700px) {
    .titulo_grid{
    background-color: blue;
    float: left;
    height: 40%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuerpo_grid{
    float: left;
    height: 143px;
    width: 50%;
    background-color: blueviolet;
    text-align: left;
}
.cuerpo_grid p{
    margin: 4px 8px;
    padding: 0;
    
}

}

