
.espacio_grid{
    /* este espacio sirve como espacio en las paginas de begin , simplemente es un div vacío */
    background-color: var(--primario);
    height: 20px;
    width: 100%;
}

#contenedor_grid{
    background-color: var(--primario);
    
}

.box{
    /* las cajas de los grids */
    border: 4px solid black;
    background-color: var(--secundario);
    text-align:center;
    height: 190px;
}

@media (min-width: 768px) {
    /* este media query es para las resoluciones de dispositivos NO móviles */
    .grid{
        height: 100%;
        width:80%;
        display: grid;
        justify-content: stretch;
        grid-template-rows: auto auto auto auto auto  ;
        grid-template-columns:  50% auto ;
        margin: 0 auto;
    }
    .texto_grid{
    background-color: var(--secundario);
}

}


@media (max-width: 768px) {
    /* aquí hay otro media Query para que cuando la pantalla se haga pequeña que se ponga en columnas, no en filas */
    .grid{
        display:flex;
        flex-direction: column;
        
    }
    .cuerpo_grid {
        text-decoration: none;
    }
}


.div_icono_grid{
    /* como el nombre indica este parámetro sirve para los iconos del grid, en este caso del main o begin */
    float: left;
    background-color: white;
    width: 50%;
    height: 100%;
    
}

.centrado_icono{
    /* esto es un div vacío para que los iconos estén centrados. */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.icono_grid{
    /* esto sirve para las dimensiones de los iconos de beginning */
    height: 90%;
    width: 100%;
    
}

#about{
    /* Y esto solamente para el de About us, ya que era de diferente tamaño con lo cual había que hacerlo pequeño */
    width: 60%;
}


/* esto es para resoluciones pequeñas */
/* Le aplicamos 0% debido a que no queremos fotos en formato teléfono */
@media (max-width: 700px) {
    .div_icono_grid{
        height: 0%;
        width: 0%;
    }
    .texto_grid{
        width: 100%;
        height: 100%;
        
    }
    .titulo_grid{
        float: left;
        height: 25%;
        width: 100%;
        background-color: #00304E;
        color: white;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cuerpo_grid{
        background-color: var(--secundario);
        width: 100%;
        height: 100%;
        font-size: 100%;
        color: white;
        
    }

    .texto_grid{
        background-color: var(--secundario);
    }
}

@media (min-width: 700px) {
    .titulo_grid{
    background-color: #00304E;
    float: left;
    height: 40%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
}
.cuerpo_grid{
    float: left;
    height: 100%;
    width: 50%;
    background-color: var(--secundario);
    text-align: left;
    color: white;
}
.cuerpo_grid p{
    margin: 4px 8px;
    padding: 0;
    
}

.texto_grid{
    background-color: var(--secundario);
}

}


/* grid para facilities */


@media (min-width: 768px) {
    
.grid_galeria{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
    height: 80%;
    background-color: white;
/* un simple grid */
    margin-top:30px;
}

.facility{
    height: 350px;
    background-color: beige;
    opacity: 0%;
    
}
.facility h1{
    color: var(--blanco);

}

.titulo_grid_fac{
    background-color: var(--primario);
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cuerpo_grid_fac {
    margin-top: 40px;
    text-align: center;

}

.facility:hover{
    opacity: 100%;
    transition: 1s;
    /* esto sirve para que cuando estemos encima se vea texto y no imagen */
}

.cafeteria{
        background-image: url(../img/fotos_lugares/COMEDOR-FLORIDA-UNIVERSITARIA.jpg);
        background-size: 350px 350px;
}

.biblioteca{
        background-image: url(../img/fotos_lugares/biblio_flo.jpg);
        background-size: 350px 350px;
}

.pabellon{
    background-image: url(../img/fotos_lugares/pabellon.jpg);
        background-size: 350px 350px;
}

.parquesito{
    background-image: url(../img/fotos_lugares/parquesito.jpg);
        background-size: 350px 350px;
}

/* Todo esto es para las fotos de facilities */

.espaciete{
    display: none;
}
/* un simple espacio que en esta resolucion no se usa */
}

@media (max-width: 768px) {
    .grid_galeria{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        /* esto lo que hace es que para resoluciones pequeñas se vean las facilities en vertical */
    }

    .facility{
        height: 35rem;
        background-color: beige;
        opacity: 0%;
    }
    .facility h1{
        color: var(--blanco);
    
    }
    .titulo_grid_fac{
        background-color: var(--primario);
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* Todo lo mismo... */
    }
    
    .cuerpo_grid_fac {
        margin-top: 40px;
        text-align: center;
    
    }
    
    .facility:hover{
        opacity: 100%;
        transition: 1s;
    }
    
    .cafeteria{
            background-image: url(../img/fotos_lugares/COMEDOR-FLORIDA-UNIVERSITARIA.jpg);
            background-size: 350px 350px;
    }
    
    .biblioteca{
            background-image: url(../img/fotos_lugares/biblio_flo.jpg);
            background-size: 350px 350px;
    }
    
    .pabellon{
        background-image: url(../img/fotos_lugares/pabellon.jpg);
            background-size: 350px 350px;
    }
    
    .parquesito{
        background-image: url(../img/fotos_lugares/parquesito.jpg);
            background-size: 350px 350px;
    }
    .espaciete{
        display: flex;
        height: 3.0rem;
        /* Aquí hay un espacio de 30px para separar las fotos de facilities. */
    }
}
