.botones_subjects button{
	width: 100%;
	height: 9rem;
	font-family: florida-font;
	background-color: white;
	color: var(--primario);
	border: 0px;
	/* border-radius: 4rem; pendiente de decision */
}

@media (max-width: 768px) {
	.botones_subjects button{
		width: 100%;
		height: 9rem;
		font-family: florida-font;
		background-color: white;
		color: var(--primario);
		border: 0px;
	}
	.botones_subjects{

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.botones_subjects button:hover{
	background-color: #E22636;
	transition: 1s;
	color: white;
}

.botones_subjects{

	display: flex;
	align-items: center;
	justify-content: center;
}
body{
	background-color: var(--azul);
}

.title_subjects{
	text-align: center;
	color: var(--blanco);
}


#contenedor_subjects{
	background-color: yellow;
}


.recordatorio{
	text-align: center;
	color: var(--blanco);
}

/* aquí van diferentes superiores */

.daw{
	background-color: yellow;
	height: auto;
	width: 100%;
}

.encabezado_daw{
	background-color: var(--primario);
	height: 25rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	color: var(--blanco);
}

	.grid_info{
		display: grid;
		background-color: black;
		height: 50rem;
		width: 100%;
		grid-template-columns: 50% 50%;
		grid-template-rows: 100% 100%;
		flex-direction: row-reverse;
		border-spacing: 20px;
	}

	.titulo_info{
		background-color: var(--blanco);
		height: 10rem;
		color: var(--primario);
	}

	.texto_info{
		background-color: var(--blanco);
		font-size: 1.9rem;
	}

	.video_info{
		background-color: var(--blanco);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.cuerpo_info{
		display: grid;
		grid-template-rows: 10rem auto;
	}

	#foot{
		margin-top: 0px;
	}