:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #cf2e2e;
    --secundario: #e22636;
    --gris: #757575;
    --amarillo: #d1ad2e;
    --azul: #001524;
}

@font-face {
    font-family: Florida-font;
    src: url(../fonts/NavineDemo-SemiCondensed.ttf);
}

@font-face {
    font-family: 'geogrotesque cyr bold';
    src: url('../fonts/geogrotesquecyr-bold.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
    }

@font-face {
    font-family: 'geogrotesque cyr light';
    src: url('../fonts/geogrotesquecyr-light.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
    }

*{
        padding: 0;
        margin: 0;
    }

html{
    font-size: 62.5%;
}

body{
    font-size: 16px; /* 1rem = 10px */
    font-weight: lighter;
    font-family: "florida-font" ;
    
}



header{
    background-color: var(--primario);
}
@media (min-width: 1024px) {
    header{
        height: 220px;
    }
}

#header {
    background-color: var(--primario);
    height: 16rem;
    width: 100%;
    color: var(--blanco);
}

#logo_header{

height: 100%;
width: 22rem;
float: left;
display: flex;
align-items: center;
justify-content: center;
}

#parte_arriba{

    width: 100%;
    height: 8rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.parte_arriba{
    display: flex;
    flex-direction: row;
    
}

@media (max-width: 768px) {
    .parte_arriba {
        background-color: var(--primario);
        height: 100%;
        width: 100%;
        float: left;

    }
    .parte_arriba a {
        
        margin:1.75rem 0px; 
        
        
    }
    
    #logo_header{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 22rem;
        
        }
}

.parte_arriba a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
    border-right: 1px solid rgb(255, 255, 255);
    margin:1.75rem 0; 
    
    }



    .parte_arriba a:hover{
        background-color: var(--primario);
        color: var(--oscuro);
    }
    

    #parte_abajo{

        width: 100%;
        height: 8rem;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .parte_abajo{
        display: flex;
        flex-direction: row;
        margin-left: 22px;
        justify-content: center;
        
    }
    
    @media (max-width: 768px) {
        .parte_abajo {
            background-color: var(--primario);
            height: 23rem;
            width: 100%;
            float: left;
            margin: 0 0 ;
            
            justify-content: flex-start;
            flex-direction: column;
            
    
        }
        .parte_abajo a {
            margin:1.75rem px; 
            border: 1px var(--blanco) solid;

            
            
        }
        .parte_abajo a:hover{
            border: 1px black solid;
            background-color: var(--secundario);
            color: black;
        }
    }
    
    .parte_abajo a{
        color: var(--blanco);
        text-decoration: none;
        font-size: 2rem;
        font-weight: 700;
        padding: 1rem;
        
        }
    
    body{
        height: 100%;
    }
    
        .parte_abajo a:hover{
            
            color: var(--oscuro);
        }
        

footer{
    background-color: var(--azul);
    height: 300px;
    width: 100%;
}

@media (max-width: 768px) {
    footer{
    background-color: var(--azul);
    height: 150px;
    width: 100%;
}

}

/* media queryies para el contenedor y la parte izq. del footer */
@media (min-width: 768px) {
    .container_footer{
        background-color: green;
        height: 100%;
        width: 80%;
        margin: auto;
    }
    
    .izq_footer{
        height: 100%;
        width: 33%;
        background-color: var(--azul);
        float: left;
    }
}

@media (max-width: 768px) {
    .container_footer{
        display: flex;
        flex-direction: column;
        height: 65rem;
        width: 100%;
    }
    .izq_footer{
        height: 490px;
        width: 100%;
        background-color: var(--azul);
        float: left;
    }
    .logo_footer img{
        height: 10rem;
    }

}

.espacio_footer{
    height: 25%;
    width: 100%;
}

.logo_footer{
    float: left;
    height: 10rem;
    width: 100%;
    
    display: flex;
    justify-content: center;
}

.redes_sociales_footer{
    height: 30%;
    width: 100%;
    float: left;
    margin-top: 5px;
    
}

.redes_sociales_footer img{
    width: 70%;
    height: 70%;
    
    transition: 1.5s;
    -moz-transition: 1.5s;
    -webkit-transitin: 1.5s;
    -o-transition: 1.5s;
    /* estos atributos de animación sirven para la compatibilidad de navegadores
    por ejemplo, el que empieza por moz es para mozilla, así respectivamente con
    demás */

}

.redes_sociales_footer a :hover{

    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    
    }
    

.icons_footer {
    /* esto es orientativo background-color: black; */
    float: left;
    height: 10%;
    width: 10%;
    margin-left: 1rem;


}
.alineado_iconos{
    display: flex;
    align-items: center;
    
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    float: left;
}
/* A partir de aquí se edita el centro del footer */


@media (min-width: 768px) {
    .centro_footer{
        height: 100%;
        width: 34%;
        background-color: var(--azul);
        float: left;
    }
}

@media (max-width: 768px) {
    .centro_footer{
        height: 20rem;
        width: 100%;
        background-color: var(--azul);
        float: left;
    }
}

.centro_container{

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centro_direccion , .centro_contacto{

    width: 100%;
    text-align: center;
    
}


.espacio_contacto{
    margin-top: 2rem;
    }

    .espacio_contacto a , p{
        text-decoration: none;
        color: white;
        }



/* a partir de aquí vamos a diseñar la parte derecha del footer */


@media (min-width: 768px) {
    .der_footer{
        height: 100%;
        width: 33%;
        background-color: var(--azul);
        float: left;
    }
}

@media (max-width: 768px) {
    .der_footer{
        height: 40rem;
        width: 100%;
        background-color: var(--azul);
        float: left;
    }
}

.der_vacio{
    height: 100%;
    width: 100%;
}

.uv{

    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.uv img{
    height: 100%;
}
