.botones_subjects button{
	width: 100%;
	height: 9rem;
	font-family: florida-font;
	background-color: white;
	color: var(--primario);
	border: 0px;
	/* border-radius: 4rem; pendiente de decision */
}

@media (max-width: 768px) {
	.botones_subjects button{
		width: 100%;
		height: 9rem;
		font-family: florida-font;
		background-color: white;
		color: var(--primario);
		border: 0px;
	}
	.botones_subjects{

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.botones_subjects button:hover{
	background-color: #E22636;
	transition: 1s;
	color: white;
}

.botones_subjects{

	display: flex;
	align-items: center;
	justify-content: center;
}
body{
	background-color: var(--azul);
}

.title_subjects{
	text-align: center;
	color: var(--blanco);
}


#contenedor_subjects{
	background-color: yellow;
}


.recordatorio{
	text-align: center;
	color: var(--blanco);
}

/* aquí van diferentes superiores */


@media (min-width: 768px) {
	.daw{
		background-color: yellow;
		height: auto;
		width: 100%;
	}
	
	.encabezado_daw{
		background-color: var(--primario);
		height: 25rem;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 3rem;
		color: var(--blanco);
		text-align: center;
	}
	
		.grid_info{
			display: grid;
			background-color: black;
			height: 50rem;
			width: 100%;
			grid-template-columns: 50% 50%;
			grid-template-rows: 100% 100%;
			flex-direction: row-reverse;
			border-spacing: 20px;
		}

	.titulo_info{
		background-color: var(--blanco);
		height: 10rem;
		color: var(--primario);
		text-align: center;
	}

	.texto_info{
		background-color: var(--blanco);
		font-size: 1.9rem;
		text-align: center;
	}

	.video_info{
		background-color: var(--blanco);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.cuerpo_info{
		display: grid;
		grid-template-rows: 10rem auto;
	}

	#foot{
		margin-top: 500px;
	}
}

@media (max-width: 768px) {
	.daw{
		background-color: var(--blanco);
		height: auto;
		width: 100%;
	}
	
	.encabezado_daw{
		background-color: var(--primario);
		height: 45rem;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2.0rem;
		color: var(--blanco);
		text-align: center;
	}
	
		.grid_info{
			display: flex;
			background-color: var(--blanco);
			height: 50rem;
			width: 100%;
			flex-direction: column-reverse;
			border-spacing: 20px;
			margin-top: 120px;
		}

	.titulo_info{
		background-color: var(--blanco);
		height: 100%;
		color: var(--primario);
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.3rem;
	}
	
	.texto_info{
		background-color: var(--blanco);
		font-size: 1.9rem;
		text-align: center;

	}

	.video_info{
		background-color: var(--blanco);
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 10px;
	}

	.cuerpo_info{
		display: grid;
		grid-template-rows: 10rem auto;
	}

	#foot{
		margin-top: 500px;
	}
}


